.summary
  p
    = "Type: "
    strong= relType
  p
    = "Estimate rows count: "
    = recordsCount
  if diskUsage
    p
      = `Total size on disk: ${formatBytes(diskUsage.total)} `
      span.table-size-breakdown
        = `(Table: ${formatBytes(diskUsage.table)}, Indexes: ${formatBytes(diskUsage.index)}, Toast: ${formatBytes(diskUsage.toast)})`

  if summaryError
    code.result
      strong= "Error happen while getting table summary\n"
      = summaryError

h4 Source SQL

if source
  code.result.pgsql= source
else
  code.result Loading...

if dumpError
  code.result
    strong= "Error happen while running pg_dump:\n"
    = dumpError
