.login-screen
  .sidebar
    h4 Saved connections
    ul.connections
    button.add-connection.native-look(exec="addNewConnection") Add

  .main-window
    .middle-window
      .header-tabs
        != link_to("Standard", '#', {exec: 'showStandardPane', class: 'login-with-password selected'})
        != link_to("Connect URL", '#', {exec: 'showUrlPane', class: 'enter-postgres-url'})
        != link_to("Heroku", '#', {exec: 'showHerokuPane', class: 'login-with-heroku'})

      form.middle-window-content.standard
        p
          label(for="login_host") Host
          input#login_host(name='host', type='text', value='localhost', placeholder='localhost')
        p
          label(for="login_port") Port
          input#login_port(name='port', type='text', value='5432', placeholder='5432')
        p
          label(for="login_username") Username
          input#login_username(name='user', type='text', value='')
        p
          label(for="login_password") Password
          input#login_password(name='password', type='password', value='')

        p
          label(for="login_database") Database
          input#login_database(name='database', type='text', value='')

        p
          label(for="login_query") Start Query
          input#login_query(name='sql_query', type='text', value='')
          small.help-icon(data-tooltip="This query will run every time you connect to database.\nExample:\nSET timezone = '+02'") ?

        p
          label
          label
            input(name='auto_connect', type='checkbox', value='1')
            = "Connect on start"

        input(name="query", type="hidden")

        p.buttons
          button.native-look(exec="std_testConnection") Test Connection
          button.native-look(exec="std_saveAndConnect") Save & Connect
          input.native-look(type="submit", value="Connect", autofocus=true)

      form.middle-window-content.postgres-url
        textarea.connection-url(name='connect_url' placeholder=`postgres://${process.env.USER}@localhost/${process.env.USER}`)
          = `postgres://${process.env.USER}@localhost/${process.env.USER}`

        p
          label
          label
            input(name='auto_connect', type='checkbox', value='1')
            = "Connect on start"

        p.buttons
          button.native-look(exec="url_testConnection") Test Connection
          button.native-look(exec="url_saveAndConnect") Save & Connect
          input.native-look(type="submit", value="Connect", autofocus=true)

      .middle-window-content.heroku-1
        h5 Connect to Heroku PostgreSQL

        p!= link_to("Access with OAuth", '#', {exec: 'startHerokuOAuth'})
        - //p!= link_to('Access with "$ heroku" command line tool', '#')


      .middle-window-content.heroku-oauth
        ul.steps
          li.access-token Grand access
          li.request-token Request Token
          li.get-apps Get applications list
        ul.apps
        ul.steps
          li.database-url Database URL
          li.connect-db Connect to DB

      .middle-window-content.heroku-cl
        ul
          li Detect command line utilite
          li Get applications list

    footer
      a.go-to-help Get Postgres
