.main-screen
  .sidebar
    .databases
      label Select database
      select
        option Select database...
    .tables.without-system-tables
      ul
      .show-system-tables
        label
          input(type="checkbox")
          = "Show system tables"

    ul.extras
      li.reload
        a.reloadStructure!= icon('reload', 'Reload tables')
      li.add-table
        a.addTable!= icon('add-table', 'Add table')
      li.users(tab='users')!= icon('users', 'Users')
      li.extensions(tab='extensions')!= icon('extensions', "Postgres extensions")
      li.procedures(tab='procedures')!= icon('procedures', "Procedures")
    .resize-handler
  .main
    .window-tabs
      .tab.structure(tab='structure') Structure
      .tab.content(tab='content') Content
      .tab.info(tab='info') Info
      .tab.query(tab='query') Query
      //.tab.triggers(tab='triggers') Triggers

    .window-content.structure
    .window-content.content
    .window-content.info
    .window-content.query
    .window-content.triggers
    .window-content.users
    .window-content.extensions
    .window-content.procedures