.main-screen
  .sidebar
    .databases
      label Select database
      select
        option Select database...
    .tables
      label Tables
      ul

    ul.extras
      li.reload
        a.reloadStructure!= icon('reload')
      li.add-table
        a.addTable!= icon('add-table')
      li.users(tab='users')!= icon('users')
      li.extensions(tab='extensions')!= icon('extensions')
      li.procedures(tab='procedures')!= icon('procedures')
    .resize-handler
  .main
    .window-tabs
      .tab.structure(tab='structure') Structure
      .tab.content(tab='content') Content
      .tab.query(tab='query') Query
      //.tab.triggers(tab='triggers') Triggers

    .window-content.structure
    .window-content.content
    .window-content.query
    .window-content.triggers
    .window-content.users
    .window-content.extensions