.main-screen
  .sidebar
    .databases
      label Select database
      span.connection-lost
      select
        option Select database...
    .tables-filter
      span.funnel-icon
      input.filter-tables(placeholder="Filter Tables")
      span.clear-filter(title="Clear Filter")
    .tables.without-system-tables
      ul
      .show-system-tables
        label
          input(type="checkbox")
          = "Show Schemas"

    ul.extras
      li.add-table
        a.addTable!= icon('add-table', 'Add Table')
      li.reload
        a.reloadStructure!= icon('reload', 'Reload Tables')
      li.users(tab='users')!= icon('users', 'Users')
      li.extensions(tab='extensions')!= icon('extensions', "Postgres Extensions")
      li.procedures(tab='procedures')!= icon('procedures', "Procedures")
    .resize-handler
  .main
    .window-tabs
      .window-tab.tab.structure(tab='structure') Structure
      .window-tab.tab.content(tab='content') Content
      .window-tab.tab.info(tab='info') Info
      .window-tab.tab.query(tab='query') Query
      //.tab.triggers(tab='triggers') Triggers
    .clearfix

    .window-content.structure
    .window-content.content
    .window-content.info
    .window-content.query
    .window-content.triggers
    .window-content.users
    .window-content.extensions
    .window-content.procedures