table
  thead
    tr
      th column
      th type
      th max length
      th default
      th primary key
      th Null
      th
  tbody
    each column in rows
      tr
        td= column.column_name
        td= column.udt_name
        td= column.character_maximum_length
        td= ('' + column.column_default).match(/^nextval/) ? 'auto increment' : column.column_default
        td= column.is_primary_key ? 'yes' : ''
        td= column.is_nullable == 'YES' ? 'yes' : 'no'
        td
          a(exec="editColumn('" + column.column_name + "')") Edit
          != "&nbsp;"
          a(exec="deleteColumn('" + column.column_name + "')") Delete

footer
  button(exec="addColumnForm") Add column

h4 Indexes
table
  thead
    tr
      th name
      th p. key
      th uniq
      th columns
      th
    each index in indexes
      tr
        td= index.relname
        td= index.indisprimary ? 'Yes' : 'No'
        td= index.indisunique ? 'Yes' : 'No'
        td= index.pg_get_indexdef.match(/ON [^\(]+\((.+)\)$/)[1]
        td
          a(exec="editIndex('" + index.relname + "')") Edit
          != "&nbsp;"
          a(exec="deleteIndex('" + index.relname + "')") Delete

footer
  button(exec="addIndexForm") Add index